<!DOCTYPE html>
<html>
    <head>
    <title>Register</title>
    <link rel="stylesheet" href="../styles/login.css">
    </head>
    <body>
        <div id="main-div">    
            <div id="register-container">
                <div id="register-header">
                    <h1>Register Here</h1>
                </div>
                <div id="register-body">
                    <div id="username-div">
                        <h3 class="login-field-name">Username </h3> 
                        <input class="login-input" placeholder="Username">
                    </div>
                    <div id="password-div">
                        <h3 class="login-field-name">Password </h3> 
                        <input class="login-input" placeholder="Password">
                    </div>
                    <div id="confirm-password-div">
                        <h3 class="login-field-name">Confirm Password </h3> 
                        <input class="login-input" placeholder="Confirm Password">
                    </div>
                    <button id="register-submit">Submit</button>
                </div>
            </div>
        <div>
        <script type="module" src="../scripts/register.js"></script>
    </body>
</html>