.lw { font-size: 60px; }

#listen-div 
{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 156, 28);
    height: 100%;
    width: 100%;
}

#listen-header-div
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 10%;
    width: 100%;
    background-color: teal;
}

#listen-body-div
{
    height: 100%;
    width: 100%;
}

#listen-media-div
{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 70%;
    background-color:bisque;
    padding: 20px;

}

#listen-body-sidebar-div
{
    height: 100%;
    width: 100%;
}


.youtube-frame 
{
    width: 100%;
}

#transcript-div
{
    display: "none";
}

#video-list-div
{
     
}

#video-list-header
{

}

#video-list
{
    
}